@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #6dffa3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    border-bottom: 3px solid #006800;
}

nav > ul {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    float: right;
    margin-top: 0;*/
    max-width: 940px;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

footer {
    background-color: #006800;
    color: #fff;
    text-align: center;
    height: 50px;
    clear: left;
    position: absolute;
    bottom: 0em;
    right: 0em;
    left: 0em;
}

 footer > p {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.autor {
    font-weight: bold;
}

footer a {
    color: #fff;
}


/*INICIO*/
figure {
    float: left;
    max-width: 265px;
    margin-right: 20px;
}

h1, h2 {
    color: #006800;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    font-weight: lighter;
}

cite {
    font-style: normal;
    font-weight: bold;
}

article {
    float: left;
    max-width: 600px;
    margin-left: 10px;
}

/* PRODUCTOS */
table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid #000;
}

#tit_productos {
    text-align: center;
}

caption {
    background-color: #006800;
    color: #fff;
}

th {
    background-color: #00d94a;
}

tfoot {
    background-color: #00fa57;
    font-style: italic;
    font-size: 0.8em;
}

th + td {
    background-color: #00fa57;
}