@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #6dffa3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 5px solid #006800;
    height: 72px;
}

nav {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav > img, nav > ul {
    float: left; 
} */

nav li {
    list-style: none;
    display: inline;
    
    font-size: 1.2em;
    font-weight: bold;
    
}

a {
    text-decoration: none;
    color: #006c00;
    padding: 15px;
}

#actual > a, nav #actual > a:hover {
    background-color: #fff;
    color: #00da00;
    border-bottom: 5px solid #00da00;
    padding-bottom: 24px;
}

nav li > a:hover {
    background-color: #006800;
    color: #fff;
    padding: 25px 15px;
}

main {
    max-width: 940px;
    margin: 0 auto;
    height: auto;
}

footer {
    background-color: #006800;
    color: #fff;
    text-align: center;
    height: 50px;
    clear: left;
    position: absolute;
    bottom: 0em;
    right: 0em;
    left: 0em;
}

 footer > p {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.autor {
    font-weight: bold;
}

footer a {
    color: #fff;
}


/*INICIO*/
figure {
    float: left;
    max-width: 30%;
    margin: 50px 15px 5px -10px;
}

h1, h2 {
    color: #006800;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    font-weight: lighter;
}

cite {
    font-style: normal;
    font-weight: bold;
}

article {
    float: left;
    max-width: 62%;
    margin-left: 65px;
    margin-top: 20px;
}

/* PRODUCTOS */
table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: 5px 0;
}

#tit_productos {
    text-align: center;
}

caption {
    margin-top: 30px;
    background-color: #006800;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px 0;
}

th {
    background-color: #00d94a;
}

tr > td {
    background-color: #00fa57;
    font-weight: bold;
    border-color: #cdcdcd;
}

td + td {
    background-color: #fff;
    border-color: #cdcdcd;
    font-weight: normal;
}

td:last-child {
    border-right: 0px;
}

tfoot td {
    background-color: #00fa57;
    font-style: italic;
    font-size: 0.8em;
    border: 1px solid #000;
    font-weight: normal;
    padding: 20px 0;
}

.fin {
    border-bottom: 0px;
}

/* COMPRA */
fieldset {
    border: none;
    /* border-top: 2px groove #00da00; */
}

.datos {
    float: left;
    margin: 30px 20px;
}

.direccion {
    float: left;
    margin: 30px 20px;
}

.datosPago {
    clear: left;
    margin: auto 100px auto 20px;
}

#formulario ul {
    padding-left: 20px;
}

#formulario li {
    list-style-type: none;
    padding-bottom: 5px;
}

.datos ul li label {
    width: 150px;
    float: left;
}

.direccion ul li label {
    width: 120px;
    float: left;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 200px;
    padding: 2px;
    border-radius: 0.2em;
}

input[type="date"] {
    width: 200px;
    border-radius: 0.2em;
    padding-right: 2px;
}

legend {
    font-weight: bold;
    color: #006c00;
    border-bottom: 3px solid #00da00;
    width: 100%;
    padding-bottom: 5px;
}

#dia {
    float: left;
    margin: 0 20px;
}

#hora {
    float: left;
    margin: 0 20px;
}

#dia select {
    margin: 5px 10px;
    padding: 3px;
    border-radius: 0.2em;
}

#hora select {
    margin: 5px 10px;
    padding: 3px;
    border-radius: 0.2em;
}

.metodo legend, .fecha legend {
    border: none;
    font-style: italic;
}

.metodo, .fecha {
    margin-top: 16px;
    padding-left: 20px;
}

input[type="radio"] {
    margin-left: 20px;
}

.metodo label > img {
    margin: 0 0 -3px 2px;
}

.boton {
    margin: 1em 0;
}
